# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANUAL

# Virtual Environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Trained models
models/
*.pth
*.h5

# Jupyter Notebook
.ipynb_checkpoints

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE configuration files
.idea/
.vscode/
*.swp
*.swo